<%- include("header") -%>

<h3>
  <stong>Education</stong>
</h3>
<ul>
  <li>New England school- Certificate 4 in motor mechanic</li>
  <li>Tafe-Skillstech - Certificate 3 in Motor mechanic</li>
  <li>UTFPR - Technology in Mechatronics</li>
</ul>


<%- include("footer") -%>
