<%- include("header") -%>


  <h1>My Hobbies</h1>
  <ol>
    <li><a href="https://www.blizzard.com/en-sg/">Play video games</a></li>
    <li><a href="https://www.tactoys.com.au/">Gel blaster</a></li>
    <li><a href="https://www.netflix.com/browse">watch movies</a></li>
    <li><a href="http://www.timeattack.com.au/">racing cars</a></li>
  </ol>


<%- include("footer") -%>
