<%- include("header") -%>

<div>
  <div><img class="img-profile" src="image.jpg" alt="Profile picture"></div>
  <h1>Alex Jacoby Sabatke</h1>
  <h3>Born in Brazil, 1984</h3>
    <h3>Australian Citizen and Lover</h3>
</div>

<hr>

<h2><strong>Purpose</strong></h2>

<div>
  <h3>The aim of this website is to showcase the abilities that I have acquired <br>
    in the courses that I studied and are listed on the education page.<br>
    I will try to show all the different skills on those pages, and hope that I can<br>
    demonstrate my knowledge and abilities.
  </h3>
</div>

<h2><strong>Skills</strong></h2>
<div class="row skills">

  <div class="col-lg-6">
    <ul>
      <li>Punctual</li>
      <li>Hard Worker</li>
      <li>Good presentation</li>
      <li>Willingness to learn</li>
      <li>Motivated</li>
      <li>Focused</li>
    </ul>
    </div>

    <div class="col-lg-6">
    <ul>
      <li>Javascript(JQuery)</li>
      <li>HTML and CSS(Bootstrap)</li>
      <li>Node and Express</li>
      <li>EJS</li>
      <li>APIs</li>
      <li>Git, Github, Version control</li>
      <li>MongoDB, Mongoose</li>
      <li>MySQL</li>
    </ul>
  </div>

</div>


<%- include("footer") -%>
